* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #282c34;
    padding: 1rem;
    color: white;
}

.App-nav h1 {
    font-size: 1.5rem;
}

.App-nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.App-nav a:hover {
    text-decoration: underline;
}

.App-header {
    color: white;
    padding-top: 60px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
}

.App-link:hover {
    color: #39a9db;
}


.playlist-heading {
    font-size: 85px;
    font-weight: bolder;
}

.search-bar {
    width: 500px;

}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10cm;
    margin: 0 auto;
}

.search-type-button {
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Bigger button */
    margin-right: 10px; /* Space between buttons */
    border: 1px solid transparent;
    background-color: #f8f9fa;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.search-type-button.active {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: #fff;
    border-color: #007bff;
}

.test {
    margin-top: 30px;
}