.account-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    min-height: 70vh;
}

.account-page-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form-row,
.account-action-buttons,
.account-special-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Consistent bottom margin for spacing */
}

.account-form-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 300px; /* Adjust width as necessary */
    margin: 5px 0; /* Vertical margin for spacing */
}

.account-action-button {
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.account-primary-button {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
/* 
.account-secondary-button {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
        display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
} */

.error-message {
    color: red;
    margin-bottom: 10px;
}
